@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* NAVBAR */
.navbar {
    width: 100%;
    height: 70px;
    padding: 0px 15px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: black;
    position: relative;
    z-index: 1000;
}

.logo {

    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* DESKTOP MENU */
.nav-links {
    display: flex;
    background-color: purple;
    justify-content: space-between;
    color: white;
    padding: 30px;
    align-items: center;
    gap: 30px;
    list-style: none;
}


.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: opacity 0.3s ease;
}



.nav-links a:hover {
    opacity: 0.7;
}

/* HIDE CHECKBOX */
#menu-toggle {
    display: none;
}

/* HAMBURGER */
.menu-icon {
    display: none;
    width: 30px;
    height: 24px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: 0.3s ease;
}

.brain-ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-family: Poppins;

}

.subsitution {
    display: flex;
    gap: 30px;
    font-family: Poppins;
}

.enroll-mi-casa {
    padding: 30px;

    background-color: orange;
    border: none;
    font-family: Poppins;

}

.brain-ul a {
    text-decoration: none;

    color: black;
}

.brain-ul a:hover {
    text-decoration: none;
    color: green;
}

.brain-nav ul:first-child {
    margin-right: auto;
}

body {
    font-family: Poppins;
}

.brainy-hive {
    background-color: lightgrey;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.firefighters {
    display: flex;
    gap: 50px;
    width: 100%;
    margin: auto;
    padding-left: 30px;

}

.img {
    display: flex;

    gap: 20px;
}

.imgs {
    border-radius: 200px;
    object-fit: cover;
    width: 35%;
}

.spanner {
    color: orange;
    font-size: 70px;
}

.firefighters>div {
    width: 100%;
}

.subject {
    margin: 150px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 20px;
}

.subject img {
    border-radius: 20px;
}

.subject button {
    padding: 20px;
    border-radius: 10px;
    background-color: orange;
    border: none;
}

.learning {
    background-color: black;
    color: white;
    padding: 10px;
}

.pathways {

    margin: 150px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 20px;
}


.pathways img {
    border-radius: 20px;
}

.pathways button {
    padding: 20px;
    border-radius: 10px;
    background-color: orange;
    border: none;
}

.learnings {

    margin: 150px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 20px;
}


.learning img {
    border-radius: 20px;
}

.learning button {
    padding: 20px;
    border-radius: 10px;
    background-color: orange;
    border: none;
}

.learning {
    background-color: lightgrey;
    color: white;
    padding: 10px;
}